@import "node_modules/bootstrap/scss/bootstrap";

.container {
    margin: 20px auto;
}

.actions {
    cursor: pointer;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    margin: 20px auto;
    
}

.buttonModal {
    margin: 5px;
}